#####"" bwnyasse Alias
alias c='clear'

#GIT
alias gs='git status'
alias status='git status'
alias ga='git add'
alias add='git add'
alias commit='git commit'
alias gc='git commit'
alias push='git push'
alias gl='git log --pretty=oneline --abbrev-commit'
alias fetch='git fetch --tags'
alias gf='git fetch --tags'
alias pull='git pull --all'
alias gpr='git pull'
alias merge='git merge'
#MAVEN
#alias install='mvn clean javadoc:jar source:jar  install'
alias install='mvn clean source:jar  install'
#alias installD='mvn clean javadoc:jar source:jar  install -DskipTests'
alias installD='mvn clean source:jar  install -DskipTests'

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
