#####"" bwnyasse Alias
alias c='clear'
alias gopro='cd /home/bwnyasse/work/project/'
alias oloodi='cd /home/bwnyasse/work/project/oloodi'

#GIT
alias gs='git status'
alias status='git status'
alias ga='git add'
alias add='git add'
alias commit='git commit'
alias gc='git commit'
alias push='git push'
alias gl='git log --pretty=oneline --abbrev-commit'
alias fetch='git fetch --tags'
alias gf='git fetch --tags'
alias pull='git pull --all'
alias gpr='git pull'
alias merge='git merge'
alias init='git init;cp /home/bwnyasse/work/utils/.gitignore .'
alias jdownloader='cd /home/bwnyasse/.jd &&  ./launch.sh'
#MAVEN
#alias install='mvn clean javadoc:jar source:jar  install'
alias install='mvn clean source:jar  install'
#alias installD='mvn clean javadoc:jar source:jar  install -DskipTests'
alias installD='mvn clean source:jar  install -DskipTests'

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'


### GO To Nodes
#######################################################

alias go-lameche-dore='ssh bwnyasse@{{ lamechedore }}'
alias go-lameche-dore-as-root='ssh root@{{ lamechedore }}'
alias go-contabo-vps='ssh bwnyasse@{{ contabo_remote }}'
alias go-sony-remote='ssh bwnyasse@192.168.1.19'
alias go-pnschool-remote='ssh pnschool@{{ pnschool_remote }}'
alias go-ovh-remote-1='ssh bwnyasse@{{ ovh_remote_1 }}'
alias go-ovh-remote-2='ssh bwnyasse@{{ ovh_remote_2 }}'
alias go-wicanplay-remote='ssh root@{{ wicanplay_remote }}'
